<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zity.ydsp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.ForgetPasswordTwoActivity" />
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.ChangPhoneOneActivity" />
        <activity android:name=".activity.ChangPhoneTwoActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ChangPasswordActivity" />
        <activity android:name=".activity.ChangEmailActivity" />
        <activity android:name=".activity.ChangAddressActivity" />
        <activity android:name=".activity.ChangSexActivity" />
        <activity android:name=".activity.MyCaseActivity" />
        <activity android:name=".activity.MySuggestActivity" />
        <activity android:name=".activity.PersionalServiceActivity" />
        <activity android:name=".activity.CorporationServiceActivity" />
        <activity android:name=".activity.SuggestXqActivity" />
        <activity android:name=".activity.MakeSuggestActivity" />
        <activity android:name=".activity.MshdActivity" />
        <activity android:name=".activity.PublicServiceActivity" />
        <activity android:name=".activity.PublicService1Activity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.AppealActivity" />
        <activity android:name=".activity.CommonActivity" />
        <activity android:name=".activity.MyAppealActivity" />
        <activity android:name=".activity.ProgressInfoActivity" />
        <activity android:name=".activity.MakeCommentActivity" />
    </application>

</manifest>